@model QuestionViewModelEssay

@{
    ViewData["Title"] = "QuestionViewModelEssay";

}



<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEssay">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QContent" class="control-label"></label>
                <input asp-for="QContent" class="form-control" />
                <span asp-validation-for="QContent" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="answerContent" class="control-label"></label>
                <input asp-for="answerContent" class="form-control" />
                <span asp-validation-for="answerContent" class="text-danger"></span>
            </div>
            @Html.HiddenFor(model => model.TypeOfQuestion)
            @Html.HiddenFor(model => model.ExaminationId)
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
